bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.vs/DataBaseClassLibrary/FileContentIndex/9e093c01-9b5b-4469-b39e-7890d0543eb8.vsidx
/.vs/DataBaseClassLibrary/FileContentIndex/79f72e97-0f54-4998-a1bc-3f9f2941a20b.vsidx
/.vs/DataBaseClassLibrary/FileContentIndex/c606a9f9-10f7-403f-a15a-84deb3ec4e87.vsidx
/.vs/DataBaseClassLibrary/FileContentIndex/5c94652e-a3c6-4d23-924e-e3c66e7ac00e.vsidx
